.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.personContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
  margin: 15px;
}

.red{
  color: red;
}
.bold{
  font-weight: bold;
  
}

.toggleButton{
  background-color:black;
  color:white;
  padding: 10px;
  font-size: 20px;
  border: 2px solid blue;
  border-radius: 20%;
  outline:  none;
}

.toggleButton:hover{
  background-color: green;
}

.toggleButton:hover.Red{
  background-color: red;
}