.App{
    text-align: center;
}
.Card{
    border: 1px solid navy;
    border-radius: 10%;
    margin: 25px;
    padding: 15px;
}
.Container{
    display: flex;
    justify-content: space-around;
}
/* .PersonContainer{
    display: flex;
    flex-direction: row;
}
.person{
    margin:25px;
    padding:15px;
    border: 1px solid royalblue;
} */